node_modules

.venv/
env/
venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

*.log
.env

.idea/
.vscode/
*.swp

.pytest_cache/
.tox/

.mypy_cache/
.dmypy.json
compiled/

.coverage
coverage.xml
htmlcov/
.cache

*.egg
*.egg-info/
dist/
build/

docs/_build/

*.tmp
*.bak
*.orig
.ruff_cache

poetry.lock

.DS_Store
Thumbs.db
